.input-wrapper {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0px solid var(--lighter_color);
    background-color: #fff;
    height: 3rem;
    width: 32rem;
    border-radius: 8px;
}

.input-wrapper i {
    font-size: 20px;
    margin: 15px;
    color: #aaa;
}

.input-wrapper input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    height: 45px;
}

.input-wrapper input:focus {
    border-color: #999;
}

.auth_card {
    margin: 5% 30%;
    padding: 1rem 0.8rem;
}

.auth_card form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth_card button {
    align-self: center;
    margin-top: 1.5rem;
    width: 40%;
}

.auth_card h1 {
    margin: 1rem 0 0.5rem 2rem;
    align-self: start;
}

.form-control-other {
    margin-top: 2rem;
}