{% extends "base.html" %}
{% macro render_item(item, depth=0, max_depth=3) %}
<details style="margin-left: {{ depth * 20 }}px !important" class="task{{ depth }}">

    <summary>
        <input type="checkbox" onclick="event.stopPropagation()" data-task-id="{{ item.id }}" {% if item.status %} checked {% endif %}>
        {{ item.title }}
        {% if depth<max_depth and item.subtasks %}
            <!--svg-->
            <div class="progressbar">
                <span>Il faut js</span>
            </div>
        {% endif %}
        {% if depth< max_depth %}
        <button type="button"
                class="add-task-btn"
                data-item-id="{{ item.id }}"
                onclick="event.stopPropagation()"
                data-action="{{ url_for('api.addTask', parent_id=item.id) }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="addtask">
                <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm.75-11.25a.75.75 0 0 0-1.5 0v2.5h-2.5a.75.75 0 0 0 0 1.5h2.5v2.5a.75.75 0 0 0 1.5 0v-2.5h2.5a.75.75 0 0 0 0-1.5h-2.5v-2.5Z" clip-rule="evenodd" />
                </svg>
        </button>
    {% endif %}
    </summary>
    <p style="margin-left: {{ (depth+1) * 20 }}px !important" class="contenu">{{ item.content }}</p>
    
    {% if item.subtasks %}
        {% for child in item.subtasks %}
            {{ render_item(child, depth + 1,max_depth) }}
        {% endfor %}
    {% endif %}
</details>
{% endmacro %}
{% block content %}
<section class="planning">
    <h1>TO DO TREE</h1>
    {% for semaine in planning %}
        {{ render_item(semaine) }}
    {% endfor %}
</section>

<!-- Modal unique réutilisable pour tous les boutons -->
<!-- Le dialog -->
<dialog id="task-dialog">
    <form method="post" id="modal-form">
        <h2>Nouvelle tâche</h2>
        <label for="modal-title-input">Titre</label>
        <input type="text" id="modal-title-input" name="title" required>
        <label for="modal-content-input">Description</label>
        <textarea id="modal-content-input" name="content" rows="3"></textarea>
        <button type="button" id="modal-cancel-btn">Annuler</button>
        <button type="submit">Enregistrer</button>
    </form>
</dialog>
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/planning.js') }}"></script>
<script src="{{ url_for('static', filename='js/main_task_percent.js') }}" defer></script>
{% endblock scripts %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/planning.css') }}" />
{% endblock styles %}