{% extends "base.html" %}
{% macro render_item(item, depth=0, max_depth=3) %}
<details style="margin-left: {{ depth * 20 }}px !important" class="task{{ depth }}">

    <summary>
        <input type="checkbox" onclick="event.stopPropagation()" data-task-id="{{ item.id }}" {% if item.status %} checked {% endif %}>
        {{ item.title }}
        {% if depth<max_depth and item.subtasks %}
            <div class="progressbar">
                <span>Il faut js</span>
            </div>
        {% endif %}
        {% if depth< max_depth %}
        <button type="button"
                class="add-task-btn"
                data-item-id="{{ item.id }}"
                onclick="event.stopPropagation()"
                data-action="{{ url_for('api.addTask', parent_id=item.id) }}">
                <i class="fa-solid fa-circle-plus icon"></i>
        </button>
    {% endif %}
    </summary>
    <p style="margin-left: {{ (depth+1) * 20 }}px !important" class="contenu">{{ item.content }}</p>
    
    {% if item.subtasks %}
        {% for child in item.subtasks %}
            {{ render_item(child, depth + 1,max_depth) }}
        {% endfor %}
    {% endif %}
</details>
{% endmacro %}
{% block content %}
<section class="planning">
    <h1>TO DO TREE</h1>
    {% for semaine in planning %}
        {{ render_item(semaine) }}
    {% endfor %}
</section>

<!-- Modal unique réutilisable pour tous les boutons -->
<!-- Le dialog -->
<dialog id="task-dialog">
    <form method="post" id="modal-form">
        <h2>Nouvelle tâche</h2>
        <label for="modal-title-input">Titre</label>
        <input type="text" id="modal-title-input" name="title" required>
        <label for="modal-content-input">Description</label>
        <textarea id="modal-content-input" name="content" rows="3"></textarea>
        <button type="button" id="modal-cancel-btn">Annuler</button>
        <button type="submit">Enregistrer</button>
    </form>
</dialog>
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/planning.js') }}"></script>
<script src="{{ url_for('static', filename='js/main_task_percent.js') }}" defer></script>
{% endblock scripts %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/planning.css') }}" />
{% endblock styles %}