{% extends "base.html" %}

{% block title %}Connexion{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Auth.css') }}" />
{% endblock styles %}

{% block content %}
  <section class="card">
    <h2>Connexion</h2>
    <form method="post">
      <label for="email">Email</label>
      <i class="fa fa-user"></i>
      <i class="fa fa-envelope"></i>
      <input id="email" name="email" type="email" required />

      <label for="password">Mot de passe</label>
      <i class="fa fa-lock"></i>
      <input id="password" name="password" type="password" required />
      <i class="fa fa-eye" onclick="changePasswordHideVisible('password', this)"></i>

      <button type="submit">Se connecter</button>
    </form>
    <div class="form-control-other">
      <a href="{{ url_for('auth.register') }}" id="create">Créer un compte</a>
    </div>
  </section>
{% endblock content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/checkout_login_register.js') }}"></script>
{% endblock scripts %}
